// Christmas Hats
// *------------------------------------------------*
@if $enable-hats == "true" {
  .topic-avatar {
    position: relative;
  }

  .topic-avatar .post-avatar a::after {
    content: "";
    position: absolute;
    top: -62%;
    left: -27%;
    width: 130%;
    height: 100%;
    background: url($hat) no-repeat center;
    background-size: contain;
  }

  .topic-post:nth-of-type(2n) .post-avatar a::after {
    transform: rotate(-5deg) translateX(-4px);
  }

  .topic-post:nth-of-type(3n) .post-avatar a::after {
    transform: scaleX(-1) rotate(5deg) translateX(-8px);
  }

  .topic-post:nth-of-type(5n) .post-avatar a::after {
    transform: rotate(5deg) translateX(4px);
  }

  .topic-list {
    .posters > a.latest {
      position: relative;
    }
    .posters > a.latest::after {
      content: "";
      position: absolute;
      top: -14px;
      left: -5px;
      width: 32px;
      height: 24px;
      background: url($hat) no-repeat center;
      background-size: contain;
    }
  }

  .topic-list tr:nth-of-type(3n) .posters > a.latest::after {
    transform: scaleX(-1);
    left: 2px;
  }

  #current-user > a {
    & > div {
      position: relative;
    }
    & > div::after {
      content: "";
      position: absolute;
      display: block;
      top: -28px;
      left: -10px;
      width: 45px;
      height: 45px;
      background: url($hat) no-repeat center;
      background-size: contain;
    }
  }

  .latest-topic-list-item .topic-poster > a::after {
    content: "";
    position: absolute;
    display: block;
    top: -25px;
    left: -5px;
    width: 80%;
    height: 80%;
    background: url($hat) no-repeat center;
    background-size: contain;
  }

  // Blog Style 模式下的头像帽子（discourse-topic-thumbnails 组件）
  .topic-thumbnails-blog-style-grid {
    // 确保话题列表项允许溢出，以便帽子可以超出边界
    .topic-list-item {
      overflow: visible !important;
    }

    // 确保用户信息头部容器允许溢出
    .topic-thumbnail-blog-header {
      position: relative;
      overflow: visible !important;
    }

    // 确保用户信息容器允许溢出
    .topic-thumbnail-blog-user-info {
      position: relative;
      overflow: visible !important;
    }

    // 将帽子定位到用户信息容器上
    .topic-thumbnail-blog-user-info::before {
      content: "";
      position: absolute;
      display: block;
      top: -18px;
      left: -10px; // 调整左侧位置，使帽子更居中
      width: 56px;
      height: 43px;
      background: url($hat) no-repeat center;
      background-size: contain;
      z-index: 100; // 高于普通元素，但低于导航栏
      pointer-events: none;
    }

    // 为不同的话题列表项添加不同的变换效果
    .topic-list-item:nth-of-type(2n) .topic-thumbnail-blog-user-info::before {
      transform: rotate(-5deg) translateX(-2px);
    }

    .topic-list-item:nth-of-type(3n) .topic-thumbnail-blog-user-info::before {
      transform: scaleX(-1) rotate(5deg) translateX(-4px);
    }

    .topic-list-item:nth-of-type(5n) .topic-thumbnail-blog-user-info::before {
      transform: rotate(5deg) translateX(2px);
    }
  }
}
